@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ededed;
        --foreground: #0a0a0a;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Geist', sans-serif;
    -webkit-font-smoothing: antialiased;
}
